#container {
  height: 700px;
  min-width: 310px;
  max-width: 800px;
  margin: 0 auto;
}
.loading {
  margin-top: 10em;
  text-align: center;
  color: gray;
}

#mapid { height: 580px;
  min-width: 310px;
  max-width: 800px;
  margin: 0 auto;
}
